.navbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4.188rem 1rem 4.25rem;
  height: 3.94rem;
  border-bottom: 1.5px solid gray;
}

.innerNav-menu {
  display: flex;
  align-items: center;
  gap: 22px;
}

.innerNav-menu h1 {
  font-size: 1.8rem;
  color: var(--azure);
}

.nav-item {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
}

.user-LogIn-icon {
  cursor: pointer;
  color: var(--azure);
  border: 1px solid var(--grey-border);
  border-radius: 50%;
  padding: 12px;
}
